* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containers {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.form-control {
  width: 100%;
  background-color: #232335;
  outline: none;
  border: transparent;
  color: white;
}

.form-control:focus {
  background-color: #232335;
  color: white;
}

.row {
  display: block;
  width: 100%;
  margin: 3px 0;
}

form div {
  display: inline;
}

/* .forms {
  padding: 0 2em;
} */

.botones {
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.botones button {
  background-color: #eaeaea;
  border: 0;
  border-radius: 5px;
  width: 30%;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

i {
  color: #04bd7d;
  padding: 10px;
}

.msg {
  display: inline-block;
  height: 5px;
  margin-top: -10px;
}

.col-md-4 {
  background-color: #232335;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

p {
  font-size: 0.8em;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.form-contents {
  width: 100%;
  max-width: 450px;
  padding: 50px 60px 70px;
  background-color: #1a1a2b;
  border-radius: 10px;
  text-align: center;
}

.acceder {
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.acceder button {
  background-color: #04bd7d;
  border: 0;
  border-radius: 5px;
  width: 50%;
  color: white;
  font-weight: bolder;
  cursor: pointer;
  transition: background 1s;
}

button.color {
  background-color: #04bd7d;
  color: black;
}

#alertName {
  color: red;
  margin-bottom: 15px;
}
#alertEmail {
  color: red;
  margin-bottom: 15px;
}
#alertPassword {
  color: red;
  margin-bottom: 15px;
}

.ocultar {
  display: none;
}
