* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255, 0.5);
  /* position: fixed; */
}

.title-logo, .link{
    font-size: 1.5rem;
    background: linear-gradient(to right, #004aad 20%, #24292c 40%, #24292c 60%, #004aad 80% );
    background-size: 200%;
    color: transparent;
    background-clip: text;
    animation: shine 6s linear infinite;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem ;
}

.logo i{
 font-size: 50px;
 background: linear-gradient(to right, #004aad 20%, #24292c 40%, #24292c 60%, #004aad 80% );
 background-size: 200%;
 color: transparent;
 background-clip: text;
 animation: shine 6s linear infinite;
 margin-bottom: 10px;

}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 2rem;
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa:checked + .ul_link {

  height: calc(70vh - 80px);
  padding: 10px 0 0 0;
  margin: 0;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  /* background-color: rgb(255, 255, 255, 0.5);  */
  background-color: rgb(192, 192, 192, 0.8);
  z-index: 1; 
  
}



.list_icon {
  color: #004aad;
}

.ul_link {
  width: 100%;
  position: absolute;
  top: 80px;
  right: 20px;
  display: inline-flex;
  justify-content: center;
  height: 0;
  overflow: hidden;
  /* align-items: center; */
  flex-direction: column;
  gap: 3rem;
  cursor: pointer;
  margin: 10px;

  transition: all .3s;
}

.link {
  font-size: 1rem;
  /* color: black; */
  font-weight: bold;
  text-transform: uppercase;
}

.link:hover{
  color: rgb(63, 57, 57);
}


@media (min-width:978px){
  .label_hamburguesa {
    display: none;
  }
  .ul_link {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    gap: 2rem;
  }
}

@media (max-width:482px){
  .title-logo {
    display: none;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.menu_hamburguesa:checked + .link{
  color: black;
}
