/* Estilo Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


.personajes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1em;
  padding: 1em;
}

.pelicula {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pelicula img {
  width: 100%;
  display: block;
}

.pelicula-info {
  padding: 0.5em;
  text-align: center;
}

.ocultar {
  display: none;
}

@media (min-width: 900px) {
  /* Estilos para PC */
  .personajes {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
